.product__container {
	width: 100%;
}

.product-img__container {
	width: 70%;
	margin: 0px auto;
}

.product-img__container img {
	object-fit: contain;
	width: 100%;
}

.product__name {
	margin-bottom: 3px;
}

.product__container--price {
	display: flex;
	justify-content: space-between;
}

.product__price {
	color: #f472b6;
	font-weight: 700;
}

.product__description--title {
	color: #9d174d;
	font-weight: 600;
}

.product__description {
	font-size: 13px;
}
